body{
	margin: 0;
	padding: 0;
	font-family: 'Nixie One', cursive;
}

/*double row*/
.navbar-default{
	background-color: $color-negro;
	margin: 0;
	border: none;
	.navbar-doublerow > .navbar{
		display: block;	
		padding: 0px auto;
		margin: 0px auto;
		min-height: 25px;
		.navbar-doublerow .nav{
			padding: 0px auto;
		}
	}
}
/*top nav*/
.navbar-doublerow .navbar-top ul>li>a {
	padding: 0 auto;
	font-size: 12px;
	&:hover{
		color: $color-blanco;
	}
} 
/*down nav*/
.navbar-doublerow .navbar-down .navbar-brand {
	padding: 0px auto;
	float: left;
	color: $color-blanco;
	font-size: 32px;
}

.navbar-doublerow .navbar-down ul>li>a{
	font-size: 16px;
	color: $color-blanco;
	transition: border-bottom .2s ease-in , transform .2s ease-in-out;
	font-family: 'Libre Baskerville', serif;
	&:hover{
		border-bottom: 1px solid $color-blanco;
		color: $color-blanco;
	}
}


#sup{
	background-color: black;
	a{
		i{
			color: $color-blanco;
			font-size: 30px;
			padding: 5px 7px;
		}
	}
	.menu{
		height: 100%; 
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		overflow-x: hidden; 
		padding-top: 60px;
		transition: 0.5s;
		background-color: $color-blanco;
		.closebtn{
			position: absolute;
			top: 0;
			right: 25px;
			font-size: 36px;
			margin-left: 50px;
			color: $color-negro;
		}
		div{
			div{
				div{
					.opciones{
						padding: 5px 0;
						font-size: 20px;
						margin-left: 5px;
						i{
							margin: 0 20px;
							font-size: 24px;
							background-color: transparent;
							color: $color-celeste;
						}
						a{
							color: rgba(9,8,8,0.8);
							font-weight: 600;
							display: block;
							transition: 0.3s;
							font-size: 15px;
						}
					}
				}
			}
		}
	}
}

.primera-seccion{
	background-image: url(../img/fondo-dos.jpg);
	height: 90vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	div{
		div{
			div{
				div{
					div{
						div{
							margin-top: 200px;
							margin-left: 70px;
							p {
								height: 50px;
								float: left;
								margin-right: 50px;
								font-size: 40px;
								color: $color-blanco;
							}
							b {
								float: left;
								overflow: hidden;
								position: relative;
								height: 50px;
								span{
									display: inline-block;
									color: $color-celeste;
									position: relative;
									font-size: 40px;
									white-space: nowrap;
									top: 0;
									left: 0;
									-webkit-animation: move 8s;
									-webkit-animation-iteration-count: infinite;
									-webkit-animation-delay: 1s;
								}
								@keyframes move {
									0%  { top: 0px; }
									20% { top: -50px; }
									40% { top: -100px; }
									60% { top: -150px; }
								}
							}	
						}
					}
					div{
						h1{
							color: $color-blanco;
							font-size: 40px;
							font-weight: 600;
						}
					}
				}
			}
		}
	}
}

#particles-js{
	width: 100%;
	height: 90vh;
	position: relative;
}

.text{
	font-size: 60px;
	color: $color-blanco;
	font-weight: bold;
	z-index: 3;
	position: absolute;
	left: 10%;
	transform: translate(-50%, -50%);
}


.segunda-seccion{
	background-color: $background-segundo;
	height: 90vh;
	width: 100%;
	div{
		div{
			div{
				div{
					div{
						div{
							img{
								border-radius: 50%;
								border: 2px solid white;
								height: 350px;
								width: 250px;
								margin-top: 20%;
								margin-right: 20%;
							}
						}
					}
					div{
						div{
							div{
								h3{
									font-size: 50px;
									color: $color-blanco;
									margin-top: 20%;
									margin-bottom: 10px;
								}
								h4{
									color: $color-blanco;
									margin-bottom: 20px;
								}
							}
						}
					}
				}
			}
		}
	}
}


.tercera-seccion{
	background-color: $background-tercero;
	height: 100vh;
	width: 100%;
	div{
		div{
			div{
				h2{
					color: $color-blanco;
					font-size: 70px;
					font-family: 'Libre Baskerville', serif;
					text-decoration: underline;
					text-transform: uppercase;
				}
			}
		}
		div{
			h3{
				color: $color-blanco;
				text-decoration: underline;
				font-family: 'Libre Baskerville', serif;
			}
			h4{
				color: $color-blanco;
				font-weight: 600;
				font-family: 'Libre Baskerville', serif;
			}
		}
		div{
			img{
				margin-top: 10px;
			}
		}
	}
}

.cuarta-seccion{
	background-color: $background-segundo;
	height: 110vh;
	width: 100%;
	div{
		div{
			div{
				h2{
					color: $color-blanco;
					margin: 0;
					font-size: 50px;
					padding: 10px 0;
					text-decoration: underline;
					text-transform: uppercase;
				}
			}
			div{
				img{
					margin-top: 30px;
				}
				h4{
					color: $color-blanco;
					text-transform: uppercase;
					font-weight: 600;
				}
			}	
		}
	}
}

.quinta-seccion{
	background-color: $background-tercero;
	height: 70vh;
	width: 100%;
	div{
		div{
			div{
				h2{
					color: $color-blanco;
					margin: 0;
					font-size: 50px;
					padding: 10px 0;
					text-decoration: underline;
					text-transform: uppercase;
					margin-bottom: 70px;
				}
			}
		}
		div{
			div{
				div{
					div{
						a{
							text-decoration: none;
							color: $color-blanco;
							font-size: 25px;
							i{
								font-size: 40px;
								margin: 10px 0;
							}
							&:hover{
								color:$background-segundo;
								transition: 0.8s;
								font-size: 30px;
							}
						}
					}
				}
			}
		}
	}
}


footer{
	background-color: $background-segundo;
	width: 100%;
	div{
		div{
			div{
				p{
					color: $color-blanco;
					padding: 15px;
					font-size: 15px;
					font-family: 'Libre Baskerville', serif;
					text-transform: uppercase;
				}
			}
		}
	}
}

@media (max-width: 650px) {
	.primera-seccion{
		background-image: url(../img/fondo-dos.jpg);
		height: 80vh;
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		margin: 0;
		div{
			div{
				div{
					div{
						div{
							div{
								margin-top: 200px;
								margin-left: 70px;
							}	
						}
					}
					div{
						h1{
							color: $color-blanco;
							font-size: 40px;
							font-weight: 600;
						}
					}
				}
			}
		}
	}


	.segunda-seccion{
		background-color: $background-segundo;
		height: 90vh;
		width: 100%;
		div{
			div{
				div{
					div{
						div{
							div{
								img{
									border-radius: 50%;
									border: 2px solid white;
									height: 350px;
									width: 250px;
									margin-top: 20%;
									margin-right: 20%;
								}
							}
						}
						div{
							div{
								div{
									h3{
										font-size: 40px;
										color: $color-blanco;
										margin-top: 20%;
										margin-bottom: 10px;
									}
									h4{
										color: $color-blanco;
										margin-bottom: 20px;
										font-size: 15px;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.tercera-seccion{
		background-color: $background-tercero;
		height: 110vh;
		width: 100%;
		div{
			div{
				div{
					h2{
						color: $color-blanco;
						font-size: 20px;
						font-family: 'Libre Baskerville', serif;
						text-decoration: underline;
						text-transform: uppercase;
					}
				}
			}
			div{
				h3{
					color: $color-blanco;
					text-decoration: underline;
					font-family: 'Libre Baskerville', serif;
					font-size: 10px;
				}
				h4{
					color: $color-blanco;
					font-weight: 600;
					font-family: 'Libre Baskerville', serif;
				}
			}
			div{
				img{
					margin-top: 10px;
					height: 50px;
					width: 50px;
				}
			}
		}
	}

	.cuarta-seccion{
		background-color: $background-segundo;
		height: 110vh;
		width: 100%;
		div{
			div{
				div{
					h2{
						color: $color-blanco;
						margin: 0;
						font-size: 40px;
						padding: 10px 0;
						text-decoration: underline;
						text-transform: uppercase;
					}
				}
				div{
					img{
						margin: 0 30px;
						height: 100px;
						width: 100px;
					}
					h4{
						color: $color-blanco;
						text-transform: uppercase;
						font-weight: 600;
						font-size: 10px;
					}
				}	
			}
		}
	}

	.quinta-seccion{
		background-color: $background-tercero;
		height: 70vh;
		width: 100%;
		div{
			div{
				div{
					h2{
						color: $color-blanco;
						margin: 0;
						font-size: 30px;
						padding: 10px 0;
						text-decoration: underline;
						text-transform: uppercase;
						margin-bottom: 10px;
					}
				}
			}
			div{
				div{
					div{
						div{
							a{
								text-decoration: none;
								color: $color-blanco;
								font-size: 15px;
								i{
									font-size: 20px;
									margin: 10px 0;
								}
							}
						}
					}
				}
			}
		}
	}
	footer{
		background-color: $background-segundo;
		width: 100%;
		div{
			div{
				div{
					p{
						color: $color-blanco;
						padding: 15px;
						font-size: 10px;
						font-family: 'Libre Baskerville', serif;
						text-transform: uppercase;
					}
				}
			}
		}
	}

}